//Colors
$primary-color: #0d1282;
$secondary-color: #eeeded;
$third-color: rgb(59 130 246 / 0.5);

// $third-color: #434343;

$blue-color: #0075ff;

$bg-color-light: #eeeded;

$bg-color-dark: #000000;

$text-color-light: #000000;

$text-color-dark: #eeeded;

$nav-dims: 3.125rem;
