@use "../global/variables.scss" as *;
@use "../helpers/mixins.scss" as *;
@use "../global/animation.scss" as *;

#theme-btn {
  position: relative;
  margin-left: 15px;
  @include breakPoint(gsm) {
    margin-left: 0;
  }
  #dark-light-list {
    position: absolute;
    width: 100px;
    display: flex;
    flex-direction: column;
    top: calc(100% + 20px);
    left: -30px;
    background-color: $primary-color;
    background: -webkit-linear-gradient(
      to right top,
      #24243e,
      #302b63,
      #0f0c29
    );
    background: linear-gradient(to right top, #24243e, #302b63, #0f0c29);
    z-index: 1;
    opacity: 1;
    animation: down-menu 0.5s ease;
    border-radius: 10px;
    -webkit-animation: down-menu 0.5s ease;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    > li {
      @include flex(end);
      padding: 5px;
      transition: background-color 0.3s ease 0s;
      -webkit-transition: background-color 0.3s ease 0s;
      -moz-transition: background-color 0.3s ease 0s;
      -ms-transition: background-color 0.3s ease 0s;
      -o-transition: background-color 0.3s ease 0s;
      &:first-child {
        border-radius: 10px 10px 0 0;
        -webkit-border-radius: 10px 10px 0 0;
        -moz-border-radius: 10px 10px 0 0;
        -ms-border-radius: 10px 10px 0 0;
        -o-border-radius: 10px 10px 0 0;
      }
      &:last-child {
        padding-bottom: 10px;
        border-radius: 0 0 10px 10px;
        -webkit-border-radius: 0 0 10px 10px;
        -moz-border-radius: 0 0 10px 10px;
        -ms-border-radius: 0 0 10px 10px;
        -o-border-radius: 0 0 10px 10px;
      }
      &:not(:last-child) {
        border-bottom: 2px solid $third-color;
      }
      &:hover {
        background-color: $third-color;
      }
      #theme-icon {
        padding-right: 5px;
      }
    }
  }
}
